header {
  height: 80px;
  width: 100%;
  background-color: black;

  nav {
    display: flex;
    align-items: center;
    margin: auto 20px;
    height: 100%;
    width: 100%;
    gap: 20px;

    a {
      text-decoration: none;
      color: white;
    }
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  margin: 0;
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 30px;
}

/* Buscador */
#buscador {
  display: block;
  margin: 0 auto 40px auto;  
  padding: 15px 20px;
  width: 60%;
  max-width: 500px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

#buscador:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

/* Contenedor de las cartas */
#contenedor-productos {
  display: flex;
  flex-wrap: wrap;           
  justify-content: center;    
  gap: 40px;                  
  max-width: 1100px;          
  margin: 0 auto;            
}


.card {
  flex: 0 1 calc(30% - 40px); 
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card h3 {
  color: #222;
  margin: 10px 0;
  font-size: 1.2rem;
}

.card p {
  color: #555;
  font-size: 0.95rem;
}

.precio {
  font-weight: bold;
  color: #007bff;
  margin-top: 8px;
  font-size: 1rem;
}

/* Responsivo: para adaptar el ancho de la pantalla*/
@media (max-width: 900px) {
  .card {
    flex: 0 1 calc(45% - 40px); /* 2 columnas */
  }
}

@media (max-width: 600px) {
  .card {
    flex: 0 1 90%; /* 1 columna */
  }

  #buscador {
    width: 80%;
    font-size: 16px;
  }
}